



body{
    height: 100vh;
    align-items: center;
    width:auto;
    background: linear-gradient(to right, #ffafbdcc 0%, #ffc3a0 100%);
    font-family:'poppins',sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

input[type=text]{
  width: 135px;
  height: 40px;
  transition: width 0.4s ease-in-out;
  font-size: 16px; 
  border: 2px solid rgb(217, 217, 247);
  border-radius: 4px;
  font-family:'poppins',sans-serif;
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;


}
input[type=text]:focus{
    width:95%;
    
    font-family:'poppins',sans-serif;
  
}
.inputField button:hover{
    background:linear-gradient(to right,#329d9c,#205072);
   
}
.red-button{
    background:linear-gradient(to right,#ed4264 0%,#ffc9bc 100% );
    border:none;
    color:white;
    padding: 15px 25px;
    cursor:pointer;
    font-size: 13px;
    width:120px;
    height:44px;
    border-radius: 4px;
    font-family:'poppins',sans-serif;
    

    align-items: center;
   
    border-radius:4px ;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
  
    position: center;
    
   

}

.red-button:hover{
    background:#b32121;

}






.wrapper{
    margin: 130px auto;
    max-width: 800px;
    width: 100%;
  
   
    padding: 25px;
    border-radius:5px;

}
.wrapper header{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 42px;
    
    position: relative;
   
    top:-60px;
    letter-spacing: 6px;
    font-family:'poppins',sans-serif;
    animation: animate 5s linear infinite;;

}
@keyframes animate {
    0%,18%,20%,50.1%,60%,65%,80%,90%,92%{
        colour:#ffffff;
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,64.9%,80.1%,89.9%,92.1%,100%{
         colour:#ffff;
         text-shadow:  0 10px #03bcf4,
         0 0 20px #03bcf4,
         0 0 40px #03bcf4,
         0 0 80px #03bcf4,
         0 0 160px #03bcf4
    }
}
.total-left{
    
    padding: 10px  ;
    border-radius:4px;
    text-align: center;
  
   
    

}



.total-left-border{
    
    text-align: center;
    position: relative;
    background: linear-gradient(to right, #ddd6f3 , #faaca8);
    padding: 5px;
    border-radius:4px;
    overflow: hidden;
    height: auto;
    left:-10px;

}

.wrapper .inputField{
    display:flex;
    height: 45px;
    width: 100%;
}

.todo-list{
    align-items: center;
    background: linear-gradient(to right, #ddd6f3 , #faaca8);
    padding: 30px 0 30px 30px;
    border-radius:4px ;
    
   
    margin-left: 10%;
    margin-right: 10%;
  

    

    
 
}

.todo-list li {
   list-style: none;
   height:30px;
   position: relative;
   padding: 0 15px;
   cursor: default;
   overflow: hidden;



}

.todo-list li span {
    color: red;
   position: absolute;
    right:-20px;
    transition: all 0.35s ease;
}

.todo-list li:hover span{
    right:30px;
}
.wrapper .todo-list{
    max-height: 400px;
    overflow-y: auto;
}

.inputField button{
    background: linear-gradient(to right,#56c596,#329d9c);
    border:none;
    color:white;
    padding: 15px  25px;
    cursor:pointer;
    font-size: 13px;
    border-radius: 4px;
    width:100px;
    height:44px;
    font-family:'poppins',sans-serif;
    position: relative;
    left:-9%;


    opacity:1;
   

}

body {
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.footer{
   height:100px;
    min-width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
}



